{{ define "content" }}
<body>
  <div class="container">
    <a href="/thread/new">新しいスレッドを始める</a>
  </div>

  {{ range . }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="lead">{{ .Topic }}</span>
      </div>
      <div class="panel-body">
        開始ユーザー: {{ .User.Name }} - 開始日: {{ .CreatedAtDate }} 
        <div class="pull-right">
          <a href="/thread/read?id={{.Uuid}}">もっと読む</a>
        </div>
      </div>
    </div>
  {{ end }}

</body>
{{ end }}