{{ define "content" }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">{{ .Topic }}</span>
      <div class="pull-right">
        開始ユーザー {{ .User.Name }} - 開始日時 {{ .CreatedAtDate }}
      </div>
    </div>
    {{ $uuid := .Uuid }}

  {{ range .Posts }}
    <div class="panel-body">
      <span class="lead">{{ .Body }}</span>
      <div class="pull-right">
        {{ .User.Name }} - {{ .CreatedAtDate }}
        <form action="/post/delete" method="post" class="pull-right">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="uuid" value="{{.Uuid}}">
          <input type="hidden" name="tuuid" value="{{$uuid}}">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  {{ end }}

  </div>

  <div class="panel panel-info">
    <div class="panel-body">
      <form action="/thread/post" method="post" role="form">
        <div class="form-group">
          <textarea name="body" class="form-control" id="body" placeholder="ここに返信を書いてください" rows="3" required></textarea>
          <input type="hidden" name="uuid" value="{{.Uuid}}">
          <button class="btn btn-primary" type="submit">返信</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container delete-section">
    <form action="/thread/delete" method="post">
      <input type="hidden" name="uuid" value="{{.Uuid}}">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">このThreadを削除</button>
    </form>
  </div>




{{ end }}