{{ define "content" }}
  <div class="container" style="width: 80%;">
    <h1>What is ChatFluent?</h1>
    <p>ChatFluent is helphul application to enhance your English ability.</p>
    <p>For example, when you are taking English conversation class,
    You might want to take memorandums and use it as reminder after the class.</p>
    <p>You can use this memos to remember the words and vocabularies after many years of learning English. </p>
    <p>This application reminds you on appreciate timing by email and push notification using Machine Learning.</p>
    <p>So, please keep enough memos on this application!</p>
  </div>
  <br>

  <div class="container" style="width: 80%;">
    <img src="/static/images/top1.png" alt="screen_image" style="width: 100%;">
  </div>
{{ end }}